
<table>
  <thead>
    <tr>
      <th>Müşteri Sipariş No</th>
      <th>Çıkış Adresi</th>
      <th>Varış Adresi</th>
      <th>Miktar</th>
      <th>Miktar Birim </th>
      <th>Ağırlık</th>
      <th>Ağırlık Birim</th>
      <th>Malzeme Kodu</th>      
      <th>Not</th>
      <th>Durum</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders"(click)="selectOrder(order.customerOrderNo)" >
      <td>{{ order.customerOrderNo }}</td>
      <td>{{ order.fromAddress }}</td>
      <td>{{ order.toAddress }}</td>
      <td>{{ order.quantity }}</td>
      <td>{{ order.quantityUnit }}</td>
      <td>{{ order.weight }}</td>
      <td>{{ order.weightUnit }}</td>
      <td>{{ order.materialCode }}</td>
      <td>{{ order.note }}</td>
      <td>
       
          <select   [(ngModel)]="order.statusId"  (change)="onStatusChange($event)" >
          <option *ngFor="let status of orderStatuses"  
                    [value]="status.id" 
                   >
            {{status.name}}
          </option>
        </select>
    
      
         
      </td>
      <td><button (click)="updateOrder()">Durum Güncelle</button></td> 
    </tr>
  </tbody>
</table>

